
@import './node_modules/bootstrap/scss/bootstrap.scss';
@import './node_modules/bootstrap/scss/bootstrap';
@import './node_modules/bootstrap-vue/src/index.scss';
/* media query breakdown */
$break-x-small: 320px;
$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-x-large: 1024px;
$break-xx-large: 1200px;


@media (min-width: 1200px) {
    .container{
        max-width: 1344px;
    }
}


.text-align-center{
    text-align: center;
}

.text-align-left{
    text-align:left !important;
}

code{
    color:#333333;
    font-size: 16px;
}